In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
import sklearn.preprocessing
from sklearn.model_selection import train_test_split

import env
import wrangle

In [2]:
df = wrangle.wrangle_zillow()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54167 entries, 0 to 56078
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bedrooms        54167 non-null  int64
 1   bathrooms       54167 non-null  float64
 2   garage_spaces   54167 non-null  float64
 3   year_built      54167 non-null  int64
 4   location        54167 non-null  object
 5   sq_ft           54167 non-null  int64
 6   home_value      54167 non-null  int64
 7   lot_sq_ft       54167 non-null  float64
 8   property_value  54167 non-null  float64
dtypes: float64(4), int64(4), object(1)
memory usage: 4.1+ MB

In [4]:
df.shape

(54167, 9)

In [5]:
df.head()

,bedrooms,bathrooms,garage_spaces,year_built,location,sq_ft,home_value,lot_sq_ft,property_value
0,3,4.0,4.0,1934,LA County,2822,1538506,7093.0,1076955.0
1,3,3.0,3.0,1990,LA County,2815,1106839,7601.0,651740.0
2,4,2.0,2.0,1936,LA County,2386,196622,7609.0,72463.0
3,2,1.0,1.0,1948,LA County,2406,628434,6244.0,456614.0
4,2,1.0,1.0,1936,LA County,962,545000,3752.0,387200.0